<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
Beste {{ voornaam }}<br>
<br>
Dit zijn uw login gegevens voor het afgeschermde gedeelte van www.steinerschoolgent.be > Voor ouders: <br>
<br>
gebruikersnaam: {{ email }}<br>
wachtwoord: {{ wachtwoord }}<br>
<br>
Indien het niet mogelijk is om in te loggen gelieve zelf een wachtwoord te kiezen via de link 'Wachtwoord vergeten?'.
<br><br>
Met beste groeten en veel surfplezier!<br>
<br>
Margot Rondel<br>
Medewerker Administratie
Vrije Rudolf Steinerschool Vlaanderen vzw
Middelbare Steinerschool Vlaanderen vzw
Vestiging Gent
Kasteellaan 54 9000 Gent
Tel. 09-235 28 05 (dinsdag, woensdagvoormiddag, donderdag, vrijdag)
www.steinerschoolgent.be
margot.rondel@steinerschoolgent.be
</body>
</html>
