{% extends "base.html" %}
{% load cache %}


{% block sidebar-menu %}
    {% for werkgroep in werkgroepen %}
        <li {% if object == werkgroep %} class="active" {% endif %}>
            <a href="{% url 'werkgroep' werkgroep.slug %}">{{werkgroep|title}}</a>
        </li>
    {% endfor %}
{% endblock %}

{% block content %}
<h1>{{ object.naam|title }}</h1>
{{ object.tekst|safe }}
<h2>Leden:</h2>
<ul>
{% for user in object.werkgroep.all %}
	<li><a href="{% url 'profile' user.pk %}">{{ user }}</a> <a href="mailto:{{ user.email }}">{{user.email}}</a></li>
{% endfor %}
</ul>
{% endblock %}