{% extends "base.html" %}

{% block sidebar-menu %}


{% endblock %}

{% block content %}
<p></p>
<h1>Zoek leerlingen, ouders, leerkrachten, medewerkers</h1>
<form id="searchform" action="{% url 'search' %}" method="get" accept-charset="utf-8">
  <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search" autofocus="autofocus" size="40">
  <button class="searchbutton" type="submit">
    Zoek
  </button>
</form>
<p></p>
{% for object in object_list %}
	<div>
    <a href="{% url 'profile' object.pk %}">{{ object }}</a>
    {% if object.klas %}&nbsp;<i>klas {{ object.klas }}</i>{% endif %}<br />
    {% if object.is_leerkracht %}<i>Leerkracht {{ object.get_doelgroep_display|lower }}</i><br>{% endif %}
      {% for klas in object.klasleerkracht.all %}<i>Klasleerkracht klas {{ klas }}</i><br>{%endfor%}
      {% if object.functie %}<i>{{ object.functie }}</i><br>{% endif %}
    {% if not object.is_leerling %}
      {% if object.adres %}{{ object.get_address }}<br />
      {{ object.get_postcode }} {{ object.get_gemeente }}<br />{% endif %}
      {% if object.telefoon %}gezinstelefoon: {{ object.telefoon }}<br />{% endif %}
      {% if object.gsm %}gsm: {{ object.gsm }}<br />{% endif %}
      {% if object.email %}{{ object.email }}<br />{% endif %}
    {% endif %}

    {% if object.is_leerling %}ouder(s): {% endif %}
    {% for user in object.parents.all.active %}
      {% if user.overleden %}
        {{ user|safe }}
      {% else %}
        <a href="{% url 'profile' user.pk %}">{{ user|safe }}</a> 
          {% if user.klas %}
            (<a href="{% url 'klas' user.klas %}"><i>klas {{user.klas}}</i></a>)
          {% endif %}&nbsp;
      {% endif %}
    {% endfor %}
    <hr>
  </div>
{% empty %}
  {% if searchterm %}
	 Geen resultaten gevonden
   {% endif %}
{% endfor %}
        
{% endblock %}