{% extends "base.html" %}
{% load cache %}


{% block sidebar-menu %}
    {% for klas in klassen %}
        <li {% if object == klas %} class="active" {% endif %}>
            <a {% if klas in mijn_klassen %} style="font-weight:bold;font-style: italic;"{% endif %}href="{% url 'klas' klas %}">Klas {{klas}}</a>
        </li>
    {% endfor %}
{% endblock %}

{% block content %}

{% if object %}
{% cache 86400 classroom object.pk %}
    <h2>Klas {{ object }}</h2>
    <div>
        <p style="float:left;">
            Klasleerkracht: {% for leerkracht in object.leerkracht.all %}
            {% if not forloop.first %} & {%endif%}
            <a href="{% url 'profile' leerkracht.pk %}">{{leerkracht}}</a>
            {%endfor%}
            <br />
            Klasouder(s): {% for klasouder in object.klasouders.all %}
            {% if not forloop.first %} & {%endif%}
            <a href="{% url 'profile' klasouder.pk %}">{{klasouder}}</a>
            {% endfor %}
            <br />
            Aantal leerlingen: {{ students|length }}
        </p>
{% endcache %}
        <p style="float:right;margin-right:10px;">
            {% if object in request.user.klasleerkracht.all or object in mijn_klassen or request.user.is_medewerker %}
            {% cache 86400 emaillist object.pk %}
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i> <a href="mailto:?BCC= {{all_email}}">
            Verstuur e-mail naar alle ouders + klasleerkracht</a>
            {% endcache %}
            {% endif %}
        </p>
    </div>
    <div style="clear:both;"></div>
    {% cache 3600 students object.pk %}
    <table>
        <tbody>
            
            {% for student in students %}
                <div style="display:none">{% cycle 'even' 'odd' as rowcolors %}</div>
                    {% for parent in student.parents.all %}
                    <tr class="{{ rowcolors }}">
                        <td>{% if forloop.first %}{{ student }}{% endif %}</td>
                        <td>{% if parent.overleden %}
                                {{ parent|safe }}
                            {% else %}
                                <a href="{% url 'profile' parent.pk %}"/>{{ parent|safe }}</a>
                            {% endif %}
                        </td>
                        <td>{{ parent.gsm }}</td>
                        <td>{{ parent.email }}</td>
                        <td>
                            {% ifchanged %}
                                {{ parent.get_address }}
                            {% endifchanged %}
                        </td>
                        <td>
                            {% ifchanged %}
                                {{ parent.get_postcode }} {{ parent.get_gemeente|lower|capfirst }}
                            {% endifchanged %}
                        </td>
                        <td>
                            {% ifchanged %}
                                {{ parent.telefoon }}
                            {% endifchanged %}
                        </td>
                    </tr>
                    {% empty %}
                        <tr class="{{ rowcolors }}">
                            <td>{{ student }}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{% endcache %}
{% else %}
<h2>Geen klassen gevonden</h2>
{% endif %}    
{% endblock %}