{% extends "base.html" %}


{% block content %}
<table cellspacing="30px">
    <thead>
        <tr>
            <th></th>
            <th>Leerkracht</th>
            <th colspan="3">Klasouder</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
            <tr class="{% cycle 'even' 'odd' %}">
                <td><a href="{% url 'klas' object %}">klas {{ object }}</a></td>
                <td>
                    {% for leerkracht in object.leerkracht.all %}
                        <a href="{% url 'profile' leerkracht.pk %}">{{ leerkracht }}</a>{% if not forloop.last %}<br />{% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for klasouder in object.klasouders.all %}
                        <a href="{% url 'profile' klasouder.pk %}">{{ klasouder }}</a>
                    {% endfor %}
                </td>
                <td>
                    {% for klasouder in object.klasouders.all %}
                        {{klasouder.gsm}}
                    {% endfor %}
                </td>
                <td>
                    {% for klasouder in object.klasouders.all %}
                        <{{klasouder.email}}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
