{% extends "base.html" %}
{% load cache %}


{% block sidebar-menu %}
{% cache 3600 sidebar %}
    {% for klas in klassen %}
        <li {% if object == klas %} class="active" {% endif %}>
            <a href="{% url 'klas' klas %}">Klas {{klas}}</a>
        </li>
    {% endfor %}
{% endcache %}
{% endblock %}

{% block content %}
{% cache 3600 klas klas.pk %}
{% if object %}
    <h2>Klas {{ object }}</h2>
    <p>Leerkracht: {% for leerkracht in object.leerkracht.all %}
            {% if not forloop.first %} & {%endif%}
            <a href="{% url 'profile' leerkracht.pk %}">{{leerkracht}}</a>
        {%endfor%}</p>
    <p>Klasouder(s): {% for klasouder in object.klasouders.all %}
            {% if not forloop.first %} & {%endif%}
            <a href="{% url 'profile' klasouder.pk %}">{{klasouder}}</a>
        {% endfor %}</p>
    <p>Aantal: {{ students|length }}</p>
    <table>
        <tbody>
            
            {% for student in students %}
                <div style="display:none">{% cycle 'even' 'odd' as rowcolors %}</div>
                    {% for parent in student.parents.all %}
                    <tr class="{{ rowcolors }}">
                        <td>{% if forloop.first %}{{ student }}{% endif %}</td>
                        <td>{% if parent.overleden %}
                                {{ parent|safe }}
                            {% else %}
                                <a href="{% url 'profile' parent.pk %}"/>{{ parent|safe }}</a>
                            {% endif %}
                        </td>
                        <td>{{ parent.gsm }}</td>
                        <td>{{ parent.email }}</td>
                        <td>
                            {% ifchanged %}
                                {{ parent.get_address }}
                            {% endifchanged %}
                        </td>
                        <td>
                            {% ifchanged %}
                                {{ parent.get_postcode }} {{ parent.get_gemeente|lower|capfirst }}
                            {% endifchanged %}
                        </td>
                        <td>
                            {% ifchanged %}
                                {{ parent.telefoon }}
                            {% endifchanged %}
                        </td>
                    </tr>
                    {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{% else %}
<h2>Geen klassen gevonden</h2>
{% endif %}    
{% endcache %}  
{% endblock %}