{% extends "base.html" %}
{% load cache %}

{% block content %}
{% cache 3600 classroom object.pk %}
{{ tekst.content|safe }}
<h2>Eerstkomende activiteiten</h2>
<table class="white-borders">
{% for object in calendar %}
    <tr class="{% cycle 'even' 'odd' %}">
        <td>
            {% if object.einddatum %}
                {{ object.startdatum|date:"D d b" }} tem {{ object.einddatum|date:"D d b o" }}
            {% else %}
                {{ object.startdatum|date:"D d b o" }}
            {% endif %}
        </td>
        <td>
            {{ object.titel }}
        </td>
        <td>
            {{ object.get_doelgroep_display }}
        </td>
    </tr>
{% endfor %}
</table>
<p><br></p>
<h2>Overzicht klassen</h2>
<table class="white-borders">
    <thead>
        <tr>
            <th></th>
            <th valign="bottom">Leerkracht</th>
            <th valign="bottom">Klasouder</th>
            <th colspan="2">
                <a href="mailto:?CC= {{klasouders_email}}">
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>Verstuur e-mail naar alle klasouders
                </a>
                <br>
                <a href="mailto:?CC= {{klasouders_email_k}}">
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>Verstuur e-mail naar alle klasouders kleuters
                </a>
                <br>
                <a href="mailto:?CC= {{klasouders_email_l}}">
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>Verstuur e-mail naar alle klasouders lagere
                </a>
                <br>
                <a href="mailto:?CC= {{klasouders_email_m}}">
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>Verstuur e-mail naar alle klasouders middenbouw
                </a>
                <br>
                <a href="mailto:?CC= {{klasouders_email_b}}">
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>Verstuur e-mail naar alle klasouders bovenbouw
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
            <tr class="{% cycle 'even' 'odd' %}">
                <td><a href="{% url 'klas' object %}">klas {{ object }}</a></td>
                <td>
                    {% for leerkracht in object.leerkracht.all %}
                        <a href="{% url 'profile' leerkracht.pk %}">{{ leerkracht }}</a>{% if not forloop.last %}<br />{% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for klasouder in object.klasouders.all %}
                        <a href="{% url 'profile' klasouder.pk %}">{{ klasouder }}</a>
                        <br>
                    {% endfor %}
                </td>
                <td>
                    {% for klasouder in object.klasouders.all %}
                        {{klasouder.gsm}}
                        <br>
                    {% endfor %}
                </td>
                <td>
                    {% for klasouder in object.klasouders.all %}
                        <a href="mailtro:{{klasouder.email}}">{{klasouder.email}}</a>
                        <br>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endcache %}
{% endblock %}
