{% extends "base.html" %}

{% block sidebar-menu %}
{% for klas in klassen %}
    <li><a href="{% url 'klas' klas %}"/>Klas {{klas}}</a></li>
{% endfor %}

{% endblock %}

{% block content %}
    <h2>Klas {{ object }}</h2>
    <p>Leerkracht:</p>
    <p>Klasouder(s):</p>
    <p>Aantal: {{ students|length }}</p>
    <table>
        <tbody>
            {% for student in students %}
                {% if student.gescheiden %}
                    {% for parent in student.parents.all %}
                    <tr class="{% cycle 'even' 'odd' %}">
                        <td>{% if forloop.first %}{{ student.first_name }}{% endif %}</td>
                        <td><a href="{% url 'profile' parent.pk %}"/>{{ parent }}</a></td>
                        <td>{{ parent.adres }}</td>
                        <td>{{ parent.postcode }} {{ parent.gemeente }}</td>
                        <td>{{ parent.telefoon }}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr class="{% cycle 'even' 'odd' %}">
                        <td>{{ student.first_name }}</td>
                        <td>
                            {% for parent in student.parents.all %}
                                <a href="{% url 'profile' parent.pk %}"/>{{ parent }}</a>
                            {% endfor %}
                        </td>
                        <td>{{ student.adres }}</td>
                        <td>{{ student.postcode }} {{ student.gemeente }}</td>
                        <td>{{ student.parents.all.0.telefoon }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
        
{% endblock %}