{% extends "base.html" %}

{% block sidebar-menu %}

{% for klas in klassen %}
    <li {% if object == klas %} class="active" {% endif %}>
        <a href="{% url 'klas' klas %}"/>Klas {{klas}}</a>
    </li>
{% endfor %}

{% endblock %}

{% block content %}
    <h2>Klas {{ object }}</h2>
    <p>Leerkracht:</p>
    <p>Klasouder(s): {% for klasouder in klasouders %}{{klasouder}}{% endfor %}</p>
    <p>Aantal: {{ students|length }}</p>
    <table>
        <tbody>
            
            {% for student in students %}
                <div style="display:none">{% cycle 'even' 'odd' as rowcolors %}</div>
                    {% for parent in student.parents.all %}
                    <tr class="{{ rowcolors }}">
                        <td>{% if forloop.first %}{{ student.first_name }}&nbsp;{{ student.last_name }}{% endif %}</td>
                        <td><a href="{% url 'profile' parent.pk %}"/>{{ parent }}</a></td>
                        <td>{{ parent.telefoon }}</td>
                        <td>{{ parent.email }}</td>
                        <td>
                            {% ifchanged %}
                                {{ parent.adres }}
                            {% endifchanged %}
                        </td>
                        <td>
                            {% ifchanged %}
                                {{ parent.postcode }} {{ parent.get_gemeente|lower|capfirst }}
                            {% endifchanged %}
                        </td>
                        <td>{{ parent.telefoon }}</td>
                    </tr>
                    {% endfor %}
            {% endfor %}
        </tbody>
    </table>
        
{% endblock %}