{% extends "admin/base_site.html" %}
{% load i18n l10n %}

{% block content %}
<form action="" method="post">{% csrf_token %}
	<h1>Weet u het zeker?</h1>
	{% if queryset|length < 50 %}
    <p>Verstuur wachtwoord naar volgende gebruikers</p>

    <ul>{{ queryset|unordered_list }}</ul>
    {% else %}
        <p> Verstuur wachtwoord naar {{ queryset|length }} gebruikers</p>
    {% endif %}
    <div>
    {% for obj in queryset %}
    <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}" />
    {% endfor %}
	</div>
	

    <input type="hidden" name="post" value="yes" />
    <input type="hidden" name="action" value="{{ action }}" />

    <a href="." class="button cancel-link">Cancel</a>
    <input type="submit" value="Ik ben zeker"  />
{% endblock content %}