{% extends "base.html" %}
{% load i18n static %}

{% block sidebar-menu %}
	{% if '/werkgroepen/' in request.path %}
    {% for werkgroep in werkgroepen %}
        <li {% if object == werkgroep %} class="active" {% endif %}>
            <a href="{% url 'werkgroep' werkgroep.slug %}">{{werkgroep|title}}</a>
        </li>
    {% endfor %}
    {% endif %}
    {% if '/bestuur/' in request.path %}
    {% for b in besturen %}
        <li {% if object == b %} class="active" {% endif %}>
            <a href="{% url 'bestuur' b.slug %}">{{b|title}}</a>
        </li>
    {% endfor %}
    {% endif %}
{% endblock %}

{% block content %}
<div>
{{flatpage.content|safe}}
</div>
{% endblock content %}